/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

body {
    font-family: 'Roboto', sans-serif !important;
}

.container .wrapper h2 {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.container .wrapper h3 {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.container .wrapper h4 {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
}

.community {
    margin-bottom:40px;
}

.smaller {
    margin-top: 25pt;
    font-size: 18pt;
}

.screenshot {
    margin-top: 25pt;
    max-width: 800px;
}

.sp-background {
    background-color: rgba(238, 238, 238, 0.6);
    background-image: linear-gradient(90deg, rgba(216, 216, 216, 0.3) 10%, transparent 0%), linear-gradient(rgba(216, 216, 216, .3) 10%, transparent 0%);
    background-size: 15px 15px;
}

.sp-button {
    background: white;
}

.slick-prev:before, .slick-next:before {
    color:#39b54a;
}

